{% extends "base.html" %}



{% block classbody %}
<body id="{{class_page}}">
{% endblock classbody %}

{% block content %}
<h1>References</h1><BR>

    <p><b>ChatGPT:</b> the chatGPT feature was used to optimize some scripts. These scripts include: pop-up and search.</p>
    <ul>
        <li>OpenAI. (2021). ChatGPT: Large-scale language model for conversational AI. Retrieved from <a href="https://chat.openai.com/">https://chat.openai.com/</a></li>
    </ul>
    <p><b>The Flask Mega-Tutorial:</b> The mega tutorial was used as a basis for the creation of this project. Some codes were used as described in the tutorial, while others were modified to better suit this project.</p>
    <ul>
        <li>Miguel Grinberg. (n.d.). The Flask Mega-Tutorial: Part I - Hello, World! Retrieved from <a href="https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world">https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world</a></li>
    </ul>
    <p><b>W3Schools:</b> The website was used to check some parameters of HTML elements and also CSS properties.</p>
    <ul>
        <li>W3Schools. (n.d.). Retrieved from <a href="https://www.w3schools.com/">https://www.w3schools.com/</a></li>
    </ul>
    <p><b>Freepik:</b> The images used for this website were found on the Freepik website. Some images were modified to meet the specific needs of the project.</p>
    <ul>
        <li>Image by rawpixel.com on Freepik. Retrieved from <a href="https://www.freepik.com/free-vector/cute-kitchen-utensil-doodle-sticker-set-vector_25256082.htm#query=cooker&position=5&from_view=search&track=sph">https://www.freepik.com/free-vector/cute-kitchen-utensil-doodle-sticker-set-vector_25256082.htm#query=cooker&position=5&from_view=search&track=sph</a></li>
        <li>Image by Freepik. Retrieved from <a href="https://www.freepik.com/free-vector/doodle-valentines-day-element-collection_11715263.htm#query=valentine%20sketches&position=30&from_view=search&track=ais">https://www.freepik.com/free-vector/doodle-valentines-day-element-collection_11715263.htm#query=valentine%20sketches&position=30&from_view=search&track=ais</a></li>
        <li>Image by Freepik. Retrieved from <a href="https://www.freepik.com/free-vector/hand-drawn-cookies-logo-design_36022500.htm#page=3&query=cookie%20drawing&position=5&from_view=keyword&track=ais">https://www.freepik.com/free-vector/hand-drawn-cookies-logo-design_36022500.htm#page=3&query=cookie%20drawing&position=5&from_view=keyword&track=ais</a></li>
        <li>Image by Freepik. Retrieved from <a href="https://www.freepik.com/free-vector/hand-drawn-kitchen_765591.htm#query=kitchen%20sketch&position=0&from_view=keyword&track=ais">https://www.freepik.com/free-vector/hand-drawn-kitchen_765591.htm#query=kitchen%20sketch&position=0
    
    &from_view=keyword&track=ais</a></li>
    </ul>

{% endblock content %}